.collections {
  padding: 120px 100px 30px 100px;

  &-empty {
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 500px;
    transform: translate(-50%, -50%);

    p {
      font-size: 35px;
    }
  }

  .image-loader {
    height: 250px;
    text-align: center;
  }

  .error-symbol {
    font-size: 50px;
    color: #005C97;
  }

  .image-error-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    border: 1px solid #005C97;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }

  &-photo {
    /* Prevent vertical gaps */
    -webkit-column-count: 4;
    -webkit-column-gap:   50px;
    -moz-column-count:    4;
    -moz-column-gap:      50px;
    column-count:         4;
    column-gap:           50px;

    img {
      /* Just in case there are inline attributes */
      width: 100%  !important;
      height: auto !important;
      border-radius: 5px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 50px rgba(0, 0, 0, 0.13);
    }

    &__unit {
      position: relative;
      margin-bottom: 40px;
    }

    .child {
      position: absolute;
      bottom: 0;
      color: white;
      width: 100%;
      background-color: rgba(0,0,0,0.6);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      line-height: 1.4rem;

      p {
        padding: 0 10px;
      }
    }
  }

  &-loader {
    display: flex;
    justify-content: center;
    margin: 40px auto 20px auto;
    width: 100%;
    max-width: 150px;

    @keyframes beatHeart {
      0% {
        transform: scale(1);
      }
      25% {
        transform: scale(1.1);
      }
      40% {
        transform: scale(1);
      }
      60% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}

@media (max-width: 1200px) {
 .collections {
   &-photo {
     -webkit-column-count: 4;
     -moz-column-count:    4;
      column-count:         4;
    }
  }
}

@media (max-width: 1000px) {
 .collections {
   &-photo {
     -webkit-column-count: 3;
     -moz-column-count:    3;
      column-count:         3;
    }
  }
}

@media (max-width: 800px) {
 .collections {
    &-photo {
      -webkit-column-count: 2;
      -moz-column-count:    2;
      column-count:         2;
      }
  }
}

@media (max-width: 560px) {
  .collections {
    padding: unset;

    &-header {
      padding-top: 100px;
      padding-left: 20px;
    }

    &-photo {
      // -webkit-column-count: 1;
      // -moz-column-count:    1;
      // column-count:         1;
      margin: 0 20px;
    }
  }
}

.truncate-overflow {
  --max-lines: 2;
  position: relative;
  max-height: calc(1.4rem * var(--max-lines));
  overflow: hidden;
}
.truncate-overflow::before {
  position: absolute;
  content: "...";
  /* tempting... but shows when lines == content */
  /* top: calc(var(--lh) * (var(--max-lines) - 1)); */

  /*
  inset-block-end: 0;
  inset-inline-end: 0;
  */
  bottom: 0;
  right: 0;
}
.truncate-overflow::after {
  content: "";
  position: absolute;
  /*
  inset-inline-end: 0;
  */
  right: 0;
  /* missing bottom on purpose*/
  width: 1rem;
  height: 1rem;
  background: transparent;
}
