.form-parent {
  position: absolute;
  width: 100%;
  max-width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.13), 0 7px 70px rgba(0, 0, 0, 0.15);
  background: #fff;
  border-radius: 20px;
  z-index: 10;
}

.form-close-icon {
  display: flex;
  justify-content: flex-end;
  margin: 10px 15px 0 0;
  cursor: pointer;
}

.form-type {
  display: flex;
  justify-content: center;
  margin-bottom: -10px;
}

.login-form {
  display: block;
  max-width: 300px;
  margin: auto;
  padding-top: 50px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.ant-btn {
  animation: 0;
}

.ant-input-affix-wrapper .ant-input-prefix, .ant-input-affix-wrapper .ant-input-suffix {
  top: 30%;
}

body {
  overflow-y: hidden;
  margin-top: auto;
}
