.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.events-wrapper + ul {
  display: none !important;
}

.publications {
  padding: 120px 100px 30px 100px;

  &-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-between;
    align-items: flex-start;

    &__item {
      margin-bottom: 50px;
      border-radius: 15px;
      width: 100%;
      flex-basis: 29%;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 6px 60px rgba(0, 0, 0, 0.13);

      div {
        padding: 7px 15px;
      }

      &-header {
        font-size: 15px;
        font-weight: 400 !important;
        margin-top: 10px;
        padding: 0 6px 5px 6px;
        border-bottom: 1px solid rgb(235, 230, 230);
        text-align: center;
      }

      &-body {
        border-bottom: 1px solid rgb(235, 230, 230);
      }

      &-people {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        div {
          height: 59.58px;
          line-height: 45px;
          border-radius: 50%;
          width: calc(1/4*100% - (1 - 1/4)*25px);
          box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.13);
          margin-bottom: 15px;
          cursor: pointer;
        }
      }

      &-more {
        border-top: 1px solid rgb(235, 230, 230);
      }
    }
  }
}

@media (max-width: 560px) {
  .publications {
    padding: 120px 30px 30px 30px;

    &-grid {
      flex-direction: column;
    }
  }
}
